* {
  font-family: 'Spartan', sans-serif;
}

header {
  position: relative;
  text-align: center;
}

header h1 {
  height: 48px;
  line-height: 48px;
}

header h1 a {
  text-decoration: none;
  color: unset;
}

main {
  margin: 0 auto calc(30px + 3em);
  width: calc(100vw - 48px);
  max-width: 1000px;
}

footer {
  position: fixed;
  height: 30px;
  line-height: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
  text-align: center;
  background-color: white;
}

header .nav-btn {
  display: none;
}

header nav {
  margin-bottom: 16px;
}

@media screen and (max-width: 799px) {
  header .nav-btn {
    position: absolute;
    display: block;
    text-align: center;
    padding: 8px;
    height: 32px;
    width: 32px;
    top: 0;
    right: 16px;
    cursor: pointer;
  }

  header nav {
    position: absolute;
    top: 100%;
    padding: 0;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    background-color: white;
    -webkit-transition-property: height, padding, box-shadow;
    -moz-transition-property: height, padding, box-shadow;
    -o-transition-property: height, padding, box-shadow;
    transition-property: height, padding, box-shadow;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-duration: 0.5s;
    -moz-transition-timing-function: ease-out;
    -o-transition-duration: 0.5s;
    -o-transition-timing-function: ease-out;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
  }
  
  header nav.active {
    display: unset;
    padding: 16px 0;
    height: 48px;
    line-height: 48px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.5);
  }
}

@media screen and (min-width: 800px) {
  header nav {
    padding: 16px 0;
  }
}