.search-results-list {
    display: grid;
    margin: 0;
    padding: 0;
    list-style: none;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
}

.search-results-item {
    position: relative;
    border-radius: 0.5em;
    overflow: hidden;
    box-shadow: 0 0 30px -5px rgba(0,0,0,0.75);
    
}

.search-results-item a {
    border-bottom: none;
    position: relative;
    display: flex;
}

.search-results-item > .description {
    position: absolute;
    bottom: -1em;
    left: 0;
    right: 0;
    height: 0;
    align-self: center;
    justify-self: center;
    text-align: left;
    border-top: 1em solid transparent;
    background-color: rgba(255,255,255,0.9);
    transition-property: height, bottom;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    overflow-y: scroll;
}

.search-results-item.active > .description {
    box-shadow: 0 0 20px -5px rgba(0,0,0,0.5);
    bottom: 0;
    padding: 0 1em 1em;
    height: calc(75% - 2em);
}

.search-results-item > .description h4 {
    margin: 0 auto 0.25em;
    font-weight: bold;
}

.search-results-item > .action-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0.5em;
    background-color: white;
    border-top-right-radius: 0.35em;
    border-top-left-radius: 0.35em;
    pointer-events: none;
}

.search-results-item > .action-container > .action-btn  {
    height: 16px;
    width: 16px;
    padding: 0.35em;
    pointer-events: auto;
    cursor: pointer;
}

.search-results-item .description-collapse {
    float: right;
    cursor: pointer;
}

.search-results-item > .description > div {
    font-size: 0.85em;
    text-align: left;
    word-wrap: break-word;
}

.search-results-item a > img {
    min-height: 100%;
    min-width: 100%;
}

.search-results-list > .jump-to-top {
    display: none;
    position: fixed;
    top: 1em;
    right: 1.5em;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #3a3a3a;
    background-color: rgba(255, 255, 255, 0.75) !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.jump-to-top:active {
    transform:translate(1px, 1px);
}

@media screen and (max-width: 799px) {
    .search-results-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 449px) {
    .search-results-list {
        grid-template-columns: 1fr;
    }
}

