.podcast-detail-loader {
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 20% auto;
}

section.view--podcast-detail h2.podcast-title {
    text-align: left;
    font-size: 2em;
    font-weight: 700;
}

.podcast-detail-grid {
    position: relative;
    display: grid;
    grid-template: 100px 1fr / 300px 1fr;
    grid-gap: 1.5em;
    padding: 1em 0;
}

.podcast-title {
    grid-area: 1 / 1 / 2 / 3;
}

.podcast-detail-sidebar > img {
    border-radius: 0.5em;
    box-shadow: 0 0 20px -5px rgba(0,0,0,0.75);
}

.podcast-detail-sidebar > .description {
    word-wrap: break-word;
}

.podcast-detail-sidebar > .description .desc-title {
    display: none;
    font-weight: 700;
    margin: 0 0 0.75em;
    align-items: center;
}

.podcast-detail-sidebar > .description .desc-title > svg.desc-close {
    margin-left: auto;
}

.view--podcast-detail .episode-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.view--podcast-detail .episode-item {
    min-height: 75px;
    background-color: white;
    cursor: pointer;
}

.view--podcast-detail .episode-item.active {
    position: relative;
    z-index: 100;
    box-shadow: 0px 5px 10px -5px #5f5f5f, 0px -5px 10px -5px #5f5f5f;
}

.view--podcast-detail .episode-item > .heading {
    min-height: inherit;
    border-top: 1px solid #5f5f5f;
    display: flex;
    align-items: center;
    padding: 0 1em;
}

.view--podcast-detail .episode-item.active + .episode-item > .heading,
.view--podcast-detail .episode-item:first-child > .heading {
    border-top-color: transparent;
}

.view--podcast-detail .episode-item > .heading > h4 {
    margin: 0;
    font-weight: 700;
    text-align: left;
}

.view--podcast-detail .episode-item > .heading > .run-time,
.view--podcast-detail .episode-item > .heading > .episode-collapse {
    margin-left: auto;
}

.view--podcast-detail .episode-item.active > .heading > .run-time {
    display: none;
}

.view--podcast-detail .episode-item > .heading > .episode-collapse {
    display: none;
    width: 24px;
    height: 24px;
}
.view--podcast-detail .episode-item.active > .heading > .episode-collapse {
    display: unset;
}

.view--podcast-detail .episode-item > .details {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 0;
    height: 0;
    overflow: hidden;
    transition: min-height 1s ease-out,
                overflow 0s linear 1s;
}

.view--podcast-detail .episode-item.active > .details {
    min-height: 200px;
}

.view--podcast-detail .episode-item > .details > .description,
.view--podcast-detail .episode-item > .details > .audio-player {
    visibility: hidden;
    transition: visibility 0s linear 1s;
}

.view--podcast-detail .episode-item.active > .details > .description,
.view--podcast-detail .episode-item.active > .details > .audio-player {
    visibility: visible;
}

.view--podcast-detail .episode-item .description {
    padding: 0 1em;
}

.view--podcast-detail .episode-item .episode-loader {
    display: none;
    position: absolute;
    height: 80px;
    width: 80px;
    align-self: center;
    left: calc(50% - 40px);
}

.view--podcast-detail .episode-item.active .episode-loader {
    display: block;
}

.view--podcast-detail .episode-item .episode-loader.hidden {
    display: none;
}

.view--podcast-detail .episode-item > .details > .audio-player {
    display: flex;
    margin-top: auto;
    height: 36px;
    position: relative;
    background-color: #5f5f5f;
    align-items: center;
}

.audio-player-button {
    position: relative;
    display: flex;
    height: 36px;
    width: 36px;
    padding: 0 0.25em;
    align-items: center;
    justify-content: center;
}

.audio-player-button > svg {
    height: 28px;
    width: 28px;
    color: white;
}

.audio-player-button:hover {
    background-color: #77ad9b;
}

.view--podcast-detail .episode-item > .details > .audio-player > .volume-controls {
    position: relative;
    display: flex;
    align-items: center;
    height: 36px;
}


.episode-item > .details > .audio-player > .volume-controls > .volume-slider {
    -webkit-appearance: none;
    background-color: #5f5f5f;
    outline: none;
    position: absolute;
    top: -1em;
    left: 50%;
    display: block;
    height: 1px;
    margin: 0.25em 0;
    transform: rotateZ(-90deg);
    transform-origin: 0 0;
}

.slide-wrapper {
    display: flex;
    align-items: center;
    height: 36px;
    background-color: #5f5f5f;
    padding: 0;
    cursor: initial;
}

.volume-controls > .slide-wrapper {
    position: absolute;
    width: 0;
    top: -50%;
    left: 50%;
    transform-origin: 0 50%;
    transform: rotateZ(-90deg);
    z-index: 100;
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    overflow: hidden;
    transition-property: width, padding;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
}

.volume-controls > .audio-player-button:hover + .slide-wrapper,
.volume-controls > .slide-wrapper:hover {
    width: 60px;
    padding: 0 6px;
}

.slide-wrapper > .volume-slider {
    -webkit-appearance: none;
    height: 1px;
    width: 100%;
    outline: none;
}

.slide-wrapper > .volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 20px;
    background: #77ad9b;
    border-radius: 4px;
    cursor: pointer;
}

.slide-wrapper > .volume-slider::-moz-range-thumb {
    width: 5px;
    height: 20px;
    background: #77ad9b;
    border-radius: 4px;
    cursor: pointer;
}

.seek-controls {
    display: flex;
    flex-basis: 100%;
    height: 36px;
    /* padding: 0 1em; */
}

.seek-controls > .slide-wrapper {
    flex-basis: 100%;
}

.seek-controls .slider {
    -webkit-appearance: none;
    outline: none;
    width: 100%;
    height: 8px;
    align-self: flex-end;
    margin: 0;
    transition: height 0.5s ease-out;
}

.seek-controls > .seek-display {
    position: absolute;
    top: 6px;
    font-weight: 400;
    color: white;
    font-size: 0.85em;
    padding: 0 0.5em;
    transition: font-size 0.5s ease-out;
}

.seek-controls > .seek-display:last-child {
    right: 0;
}

.seek-controls:hover > .seek-display {
    font-size: 0.65em;
}

.seek-controls:hover .slider {
    height: 12px;
}

.slide-wrapper > .seek-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 16px;
    width: 5px;
    background: #77ad9b;
    border-radius: 4px;
    cursor: pointer;
    transition-property: height;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
}

.slide-wrapper > .seek-slider::-moz-range-thumb {
    height: 16px;
    width: 5px;
    background: #77ad9b;
    border-radius: 4px;
    cursor: pointer;
}

.slide-wrapper > .seek-slider::-webkit-slider-thumb:hover {
    height: 24px;
}

.slide-wrapper > .seek-slider::-moz-range-thumb:hover {
    height: 24px;
}

@media screen and (max-width: 799px) {
    .podcast-detail-grid {
        grid-template-columns: 100px 1fr;
        grid-template-rows: 100px 1fr;
    }

    .podcast-detail-sidebar {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .podcast-detail-sidebar > .podcast-image {
        height: 100%;
        width: 100%;
    }

    .podcast-detail-sidebar > .description {
        display: none;
        position: fixed;
        top: 5em;
        right: 1em;
        left: 1em;
        bottom: 5em;
        z-index: 1000;
        overflow: hidden;
    }
    
    .podcast-detail-sidebar > .description.show {
        display: block;
    }
    .podcast-detail-sidebar > .description > .desc-inner {
        position: absolute;
        background-color: white;
        padding: 1em;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
    }

    .podcast-detail-sidebar > .description::after {
        z-index: 1;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(95, 95, 95, 0.5);
        overflow: hidden;
    }

    .podcast-detail-sidebar > .description.show::after {
        content: '';
    }

    .podcast-detail-sidebar > .description .desc-title {
        display: flex;
    }

    .podcast-title {
        grid-row: 1 /2;
        grid-column: 2 / 3;
        word-wrap: break-word;
    }
    ul.episode-list {
        grid-row-start: 2;
        grid-column: 1 / 3;
    }

    .view--podcast-detail .episode-item:not(.active) > .heading {
        padding: 0;
    }
}

@media screen and (min-width: 800px) {
    .podcast-detail-sidebar {
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -o-sticky;
        position: -ms-sticky;
        position: sticky;
        align-self: start;
        top: 1em;
    }

    .podcast-detail-sidebar > .podcast-image {
        pointer-events: none;
    }
    
    .view--podcast-detail .episode-item.active {
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -o-sticky;
        position: -ms-sticky;
        position: sticky;
        top: 0;
    }

    .view--podcast-detail .episode-list > .episode-item:not(.active):hover > .heading {
        background-color: #5f5f5f;
    }
    
    .view--podcast-detail .episode-list > .episode-item:not(.active):hover > .heading > * {
        color: white;
    }
}