section.view {
  padding-bottom: 16px;
  text-align: justify;
}

section.view > h2 {
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 799px) {
  section.view {
    padding: 0 16px 16px;
  }
}